PushCarStatInfo/Web References/com.zjwist.qy/carstatbyday.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StatCarInfoForSendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carday" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatCarInfoForSendMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="WithOutCarInfoMore30Min">
        <s:complexType />
      </s:element>
      <s:element name="WithOutCarInfoMore30MinResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StatCarInfoForSendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:StatCarInfoForSendMessage" />
  </wsdl:message>
  <wsdl:message name="StatCarInfoForSendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:StatCarInfoForSendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="WithOutCarInfoMore30MinSoapIn">
    <wsdl:part name="parameters" element="tns:WithOutCarInfoMore30Min" />
  </wsdl:message>
  <wsdl:message name="WithOutCarInfoMore30MinSoapOut">
    <wsdl:part name="parameters" element="tns:WithOutCarInfoMore30MinResponse" />
  </wsdl:message>
  <wsdl:portType name="CarStatByDaySoap">
    <wsdl:operation name="StatCarInfoForSendMessage">
      <wsdl:input message="tns:StatCarInfoForSendMessageSoapIn" />
      <wsdl:output message="tns:StatCarInfoForSendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WithOutCarInfoMore30Min">
      <wsdl:input message="tns:WithOutCarInfoMore30MinSoapIn" />
      <wsdl:output message="tns:WithOutCarInfoMore30MinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarStatByDaySoap" type="tns:CarStatByDaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StatCarInfoForSendMessage">
      <soap:operation soapAction="http://tempuri.org/StatCarInfoForSendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithOutCarInfoMore30Min">
      <soap:operation soapAction="http://tempuri.org/WithOutCarInfoMore30Min" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarStatByDaySoap12" type="tns:CarStatByDaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StatCarInfoForSendMessage">
      <soap12:operation soapAction="http://tempuri.org/StatCarInfoForSendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithOutCarInfoMore30Min">
      <soap12:operation soapAction="http://tempuri.org/WithOutCarInfoMore30Min" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarStatByDay">
    <wsdl:port name="CarStatByDaySoap" binding="tns:CarStatByDaySoap">
      <soap:address location="http://qy.zjwist.com/ws/carstatbyday.asmx" />
    </wsdl:port>
    <wsdl:port name="CarStatByDaySoap12" binding="tns:CarStatByDaySoap12">
      <soap12:address location="http://qy.zjwist.com/ws/carstatbyday.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>