FiveMinute/Web References/com.zjwist.car/carservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveCarInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeviceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CarNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CarType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CarDirection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CarImg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCarInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveCarInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarStatByDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="unitid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="carday" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarStatByDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarStatByDayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarLogByDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="unitid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="logday" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarLogByDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarLogByDayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarImageDelete">
        <s:complexType />
      </s:element>
      <s:element name="CarImageDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="FiveMinuteProc">
        <s:complexType />
      </s:element>
      <s:element name="FiveMinuteProcResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetWithOutInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetWithOutInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWithOutInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDeviceError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeviceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDeviceErrorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveCarInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCarInfo" />
  </wsdl:message>
  <wsdl:message name="SaveCarInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCarInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CarStatByDaySoapIn">
    <wsdl:part name="parameters" element="tns:CarStatByDay" />
  </wsdl:message>
  <wsdl:message name="CarStatByDaySoapOut">
    <wsdl:part name="parameters" element="tns:CarStatByDayResponse" />
  </wsdl:message>
  <wsdl:message name="CarLogByDaySoapIn">
    <wsdl:part name="parameters" element="tns:CarLogByDay" />
  </wsdl:message>
  <wsdl:message name="CarLogByDaySoapOut">
    <wsdl:part name="parameters" element="tns:CarLogByDayResponse" />
  </wsdl:message>
  <wsdl:message name="CarImageDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:CarImageDelete" />
  </wsdl:message>
  <wsdl:message name="CarImageDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:CarImageDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="FiveMinuteProcSoapIn">
    <wsdl:part name="parameters" element="tns:FiveMinuteProc" />
  </wsdl:message>
  <wsdl:message name="FiveMinuteProcSoapOut">
    <wsdl:part name="parameters" element="tns:FiveMinuteProcResponse" />
  </wsdl:message>
  <wsdl:message name="GetWithOutInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetWithOutInfo" />
  </wsdl:message>
  <wsdl:message name="GetWithOutInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetWithOutInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetDeviceErrorSoapIn">
    <wsdl:part name="parameters" element="tns:SetDeviceError" />
  </wsdl:message>
  <wsdl:message name="SetDeviceErrorSoapOut">
    <wsdl:part name="parameters" element="tns:SetDeviceErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="CarServiceSoap">
    <wsdl:operation name="SaveCarInfo">
      <wsdl:input message="tns:SaveCarInfoSoapIn" />
      <wsdl:output message="tns:SaveCarInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CarStatByDay">
      <wsdl:input message="tns:CarStatByDaySoapIn" />
      <wsdl:output message="tns:CarStatByDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CarLogByDay">
      <wsdl:input message="tns:CarLogByDaySoapIn" />
      <wsdl:output message="tns:CarLogByDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CarImageDelete">
      <wsdl:input message="tns:CarImageDeleteSoapIn" />
      <wsdl:output message="tns:CarImageDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FiveMinuteProc">
      <wsdl:input message="tns:FiveMinuteProcSoapIn" />
      <wsdl:output message="tns:FiveMinuteProcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWithOutInfo">
      <wsdl:input message="tns:GetWithOutInfoSoapIn" />
      <wsdl:output message="tns:GetWithOutInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDeviceError">
      <wsdl:input message="tns:SetDeviceErrorSoapIn" />
      <wsdl:output message="tns:SetDeviceErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarServiceSoap" type="tns:CarServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveCarInfo">
      <soap:operation soapAction="http://tempuri.org/SaveCarInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarStatByDay">
      <soap:operation soapAction="http://tempuri.org/CarStatByDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarLogByDay">
      <soap:operation soapAction="http://tempuri.org/CarLogByDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarImageDelete">
      <soap:operation soapAction="http://tempuri.org/CarImageDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiveMinuteProc">
      <soap:operation soapAction="http://tempuri.org/FiveMinuteProc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWithOutInfo">
      <soap:operation soapAction="http://tempuri.org/GetWithOutInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceError">
      <soap:operation soapAction="http://tempuri.org/SetDeviceError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarServiceSoap12" type="tns:CarServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveCarInfo">
      <soap12:operation soapAction="http://tempuri.org/SaveCarInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarStatByDay">
      <soap12:operation soapAction="http://tempuri.org/CarStatByDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarLogByDay">
      <soap12:operation soapAction="http://tempuri.org/CarLogByDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarImageDelete">
      <soap12:operation soapAction="http://tempuri.org/CarImageDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiveMinuteProc">
      <soap12:operation soapAction="http://tempuri.org/FiveMinuteProc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWithOutInfo">
      <soap12:operation soapAction="http://tempuri.org/GetWithOutInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceError">
      <soap12:operation soapAction="http://tempuri.org/SetDeviceError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="CarServiceSoap" binding="tns:CarServiceSoap">
      <soap:address location="http://car.zjwist.com/carservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CarServiceSoap12" binding="tns:CarServiceSoap12">
      <soap12:address location="http://car.zjwist.com/carservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>